
TodoWebApplication/gradle/wrapper/gradle-wrapper.jar
TodoWebApplication/gradle/wrapper/gradle-wrapper.jar
TodoWebApplication/gradle/wrapper/gradle-wrapper.properties
TodoWebApplication/gradle/wrapper/gradle-wrapper.jar
TodoWebApplication/gradlew
*.jar
TodoWebApplication/gradle/wrapper/gradle-wrapper.jar
TodoWebApplication/gradlew.bat
TodoWebApplication/gradle/wrapper/gradle-wrapper.jar
ReadingList/gradle/wrapper/gradle-wrapper.jar
ReadingList/gradle/wrapper/gradle-wrapper.properties
ReadingList/gradlew
ReadingList/gradlew.bat
test/.gradle/6.8/fileHashes/fileHashes.lock
ReadingList/gradle/wrapper/gradle-wrapper.jar
ReadingList/gradle/wrapper/gradle-wrapper.jar
test/.gradle/6.8/fileChanges/last-build.bin
ReadingList/gradle/wrapper/gradle-wrapper.jar
test/.gradle/6.8/executionHistory/executionHistory.bin
test/.gradle/6.8/executionHistory/executionHistory.lock
test/.gradle/buildOutputCleanup/outputFiles.bin
test/.gradle/buildOutputCleanup/cache.properties
test/.gradle/buildOutputCleanup/buildOutputCleanup.lock
test/.gradle/checksums/checksums.lock
test/.gradle/checksums/md5-checksums.bin
test/.gradle/checksums/sha1-checksums.bin
*.jar
test/gradlew.bat
test/gradlew
test/gradle/wrapper/gradle-wrapper.properties
ReadingList/gradle/wrapper/gradle-wrapper.jar
ReadingList/gradle/wrapper/gradle-wrapper.jar
ReadingList/gradle/wrapper/gradle-wrapper.jar
